.welcome {
  font-size:96px;
  color: #707070;
  font-weight:800;
  z-index:2;
}

.purplebox {
  background-color: #DCB9FF;
  height: 50%;
  width: 55%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.boxtext {
  color: #fff;
    font-weight: 600;
    position: absolute;
    padding-top: 30px;
    padding-left: 30px;

}

@media only screen and (max-width: 415px) {
  .welcome {
    font-size:72px;
  }
}